<p>FrontEnd Created by Pritam Das</p>
<h3 *ngIf="covidData">
  LastUpdate: <span>{{covidData.lastRefreshed | date:'medium' }}</span>
</h3>
<h4>India</h4>
<mat-spinner *ngIf="!covidData"></mat-spinner>
<div *ngIf='indiaLabel.length && indiaData.length'>
<app-my-pie-chart [graphLabels]='indiaLabel' [graphData]='indiaData'></app-my-pie-chart>
</div>

<h4>States</h4>
<mat-spinner *ngIf="!covidData"></mat-spinner>
<div *ngIf='statesName.length && allInOne.length'>
  <app-my-bar-chart [graphLabels]='statesName' [graphData]='allInOne'></app-my-bar-chart>
</div>



